.body {
    background-image: url('/img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


.body .div {
    overflow: hidden;
    background-image: url(img/background.png);
    background-size: cover;
    background-position: 50% 50%;
    width: 1440px;
    height: 5411px;
    position: relative;
}

.body .overlap-group {
    position: absolute;
    width: 1920px;
    height: 94px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.body .frame {
  width: 217px;
  height: 94px;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  top: 0;
  left: 240px;
  display: flex;
  align-items: center;
  position: absolute;
}

.body .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Segoe UI-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.body .div-wrapper {
    width: 217px;
    height: 94px;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    top: 0;
    left: 1400px;
    display: flex;
    align-items: center;
    position: absolute;
}

.body .text-wrapper-2 {
    position: absolute;
    width: 494px;
    top: 900px;
    left: 453px;
    font-family: "Segoe UI-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.body .frame-2 {
  width: 1302px;
  height: 579px;
  justify-content: space-around;
  gap: 39px;
  padding: 62px 0px;
  top: 969px;
  left: 0px;
  background-color: #ffffff;
  border-radius: 0px 20px 20px 0px;
  border-top-width: 10px;
  border-top-style: solid;
  border-right-width: 10px;
  border-right-style: solid;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-color: #ec751b;
  display: flex;
  align-items: center;
  position: absolute;
}

.body .text-wrapper-3 {
    height: 450px;
    margin-top: -7.50px;
    position: relative;
    width: 473px;
    font-family: "Segoe UI-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
}

.body .case {
    position: relative;
    width: 454px;
    height: 454px;
}

.body .frame-3 {
  width: 1302px;
  height: 579px;
  gap: 36px;
  padding: 62px 107px;
  top: 1760px;
  left: 138px;
  background-color: #ffffff;
  border-radius: 20px 0px 0px 20px;
  border-top-width: 10px;
  border-top-style: solid;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-left-width: 10px;
  border-left-style: solid;
  border-color: #ec751b;
  display: flex;
  align-items: center;
  position: absolute;
}

.body .img {
    position: relative;
    width: 449px;
    height: 454px;
}

.body .frame-4 {
    width: 1302px;
    height: 579px;
    justify-content: flex-end;
    gap: 44px;
    padding: 62px 99px;
    top: 2291px;
    left: 0;
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    border: 10px solid;
    border-color: #ec751b;
    display: flex;
    align-items: center;
    position: absolute;
}

.body .frame-5 {
    width: 1302px;
    height: 579px;
    justify-content: flex-end;
    gap: 39px;
    padding: 62px 99px;
    top: 2958px;
    left: 138px;
    background-color: #ffffff;
    border-radius: 0px 20px 20px 0px;
    border-top-width: 10px;
    border-top-style: solid;
    border-right-width: 10px;
    border-right-style: solid;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-color: #ec751b;
    transform: rotate(-180.00deg);
    display: flex;
    align-items: center;
    position: absolute;
}

.body .rectangle {
    transform: rotate(179.78deg);
    position: relative;
    width: 454px;
    height: 454px;
    background-color: #00000080;
}

.body .text-wrapper-4 {
    height: 450px;
    margin-top: -7.50px;
    transform: rotate(179.78deg);
    position: relative;
    width: 473px;
    font-family: "Segoe UI-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
}

.body .frame-6 {
    width: 1302px;
    height: 579px;
    justify-content: flex-end;
    gap: 37px;
    padding: 62px 99px;
    top: 3625px;
    left: 0;
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    border-top-width: 10px;
    border-top-style: solid;
    border-right-width: 10px;
    border-right-style: solid;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-color: #ec751b;
    display: flex;
    align-items: center;
    position: absolute;
}

.body .text-wrapper-5 {
    height: 450px;
    margin-top: -7.50px;
    transform: rotate(-0.22deg);
    position: relative;
    width: 473px;
    font-family: "Segoe UI-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
}

.body .rectangle-2 {
    position: relative;
    width: 454px;
    height: 454px;
    background-color: #00000080;
}

.body .frame-7 {
    width: 1302px;
    height: 579px;
    gap: 37px;
    padding: 62px 99px;
    top: 4292px;
    left: 138px;
    background-color: #ffffff;
    border-radius: 10px 0px 0px 10px;
    border-top-width: 10px;
    border-top-style: solid;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-left-width: 10px;
    border-left-style: solid;
    border-color: #ec751b;
    display: flex;
    align-items: center;
    position: absolute;
}

.body .frame-8 {
    width: 1302px;
    height: 579px;
    gap: 19px;
    padding: 62px 119px;
    top: 143px;
    left: 138px;
    background-color: #ffffff;
    border-radius: 20px 0px 0px 20px;
    border-top-width: 10px;
    border-top-style: solid;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-left-width: 10px;
    border-left-style: solid;
    border-color: #ec751b;
    display: flex;
    align-items: center;
    position: absolute;
}

.body .text-wrapper-6 {
    height: 455px;
    margin-top: -10.00px;
    position: relative;
    width: 473px;
    font-family: "Segoe UI-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
}

.body .me-home {
    position: relative;
    width: 454px;
    height: 454px;
    object-fit: cover;
}

/*move left and right*/

#left {
  display: flex;
    justify-content: left;
    position: absolute;

}

#right{
  display: flex;
    justify-content: right;
    position: absolute;

}

